body {
  background-image: url('../images/mg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*filter: blur(5px);*/
  font-family: 'Architects Daughter', cursive;
  color: #3D22B3;
}

.content {
  background-color: #D6D6D6;
  opacity: 0.4;
}

.hidden {
  visibility: hidden;
}
