body {
  font-family: 'Nunito Sans', sans-serif;
  font-size:  20px;
  color: white;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive, sans-serif;
  font-size: 40px;
  color: #800020;
  text-shadow: 2px 2px 4px white;
  padding-left: 20px;
}

h2 {
  font-family: 'Dancing Script', cursive, sans-serif;
  color: #ff7f50;
  text-shadow: 2px 2px 4px black;
  padding-left: 20px;
}

h3, h4, h5, h6, p {
  /* font-family: 'Nunito Sans', sans-serif; */
  /* color:  white; */
  padding-left:  20px;
}

section {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 80px;
  background: rgba(0, 0, 0, 0.3);
}

section:not(#home) {
  display: none;
}

footer, navbar-fixed-bottom {
  background: black;
  max-height: 80px;
  font-size: 15px;
  font-weight: bold;
}



time {
  text-align: right;
  font-size: 15px;
  color: white;
}
/*********************************************************/
/* hr style source: https://css-tricks.com/examples/hrs/ */
/*********************************************************/
hr {
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 90%;
}

hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/************************/
/* Navbar Customization */
/************************/
.navbar-default {
  background: #ff7f50;
}

.navbar-default .navbar-nav>li>a, a:visited {
  font-size: 15px;
  text-shadow:  2px 2px 4px white;
  font-weight: bold;
  color: black;
}

.navbar-default .navbar-nav>li>a:hover {
  color:  white;
  text-shadow:  2px 2px 4px black;
}

/* Change default collapse width to 991px */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/****************************/
/* Custom Class Definitions */
/****************************/
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.hotel_img {
  object-fit: cover;
  width: auto;
  height: 250px;
}

/***************************/
/* Our Story Customization */
/* Carousel Customizations */
/***************************/

#ourStory {
  text-align: justify;
}

.carousel-caption {
  font-weight: bold;
  display: block;
  text-shadow: 2px 2px 4px #ff7f50;
  color: white;
  padding-bottom: 3px;
  bottom: 2px;
}

.carousel {
  max-height: 60%;
}

.carousel-inner>.item>img {
  max-height: 80vh;
  width: auto;
  margin: 0 auto;
}

#proposal-img {
  max-height: 80vh;
  margin-top: 20px;
}

.glyphicons {
  color: #ff7f50 !important;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  text-shadow:  2px 2px 4px #ff7f50;
  font-style: italic;
}

a:hover {
  color: #ff7f50;
  text-decoration: none;
  text-shadow: 0 0 4px blue;
}

/*****************/
/* Media Queries */
/*****************/
@media screen and (min-width: 768px) {
  .hidden_desktop {
    display: none;
  }

  body {
  background-image: url("../images/mg2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ff7f50;
  }
}

@media screen and (max-width: 767px) {
  .hidden_mobile {
    display: none;
  }

  body {
  background-image: url("../images/mg1-mobile.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ff7f50;
  }
}
