h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  color: red;
  text-shadow: 2px 2px 4px black;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  padding-left: 20px;
}

p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

section {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 80px;
  background: rgba(0, 0, 0, 0.3);
}

section:not(#home) {
  display: none;
}

footer {
  background: black;
  max-height: 80px;
  color: red;
  font-size: 15px;
  font-weight: bold;
}

time {
  text-align: right;
  font-size: 15px;
  color: white;
}

a {
  color: #F82062;
  font-style: italic;
}

/*********************************************************/
/* hr style source: https://css-tricks.com/examples/hrs/ */
/*********************************************************/
hr {
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 90%;
}

hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/************************/
/* Navbar Customization */
/************************/
nav {
  background: #FF7D77;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

nav a {
  color: black;
}

#navBarContent {
  margin-left: auto;
  margin-right: auto;
}

.navbar-header {
  height: 80px;
}
.navbar-default {
/*  height: 60px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  ms-overflow-style: -ms-autohiding-scrollbar;*/
  background: #FF7D77;
}

.navbar-default .navbar-nav li a {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* Custom Class Definitions */
/****************************/
.directions {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/***************************/
/* Our Story Customization */
/* Carousel Customizations */
/***************************/

#ourStory {
  text-align: justify;
}
div.carousel-caption {
  /*position: relative;*/
  font-weight: bold;
  display: block;
  /*background-color: black;*/
  text-shadow: 2px 2px 4px #FF7D77;
  color: white;
  padding-bottom: 3px;
  bottom: 2px;
}

.img-rounded {
  text-align-left: auto;
  text-align-right: auto;
}
#mg-carousel {
  max-width: 400px;
  height: auto;
  align-right: auto;
  align-left: auto;
}

#proposal-img {
  max-height: 80vh;
  margin-top: 20px;
}

Section#information.content>article>h2 {
  font-weight: bold;
  color: #ff7d77;
  text-shadow: 2px 2px 4px black;
}

.glyphicons {
  color: #FF7D77 !important;
}

/*****************/
/* Media Queries */
/*****************/
@media screen and (min-width: 768px) {
  .hidden_desktop {
    display: none;
  }

  body {
  background-image: url("../images/mg2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ff7d77;
  }
}

@media screen and (max-width: 767px) {
  .hidden_mobile {
    display: none;
  }

  body {
  background-image: url("../images/mg1-mobile.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ff7d77;
  }
}
